body{
	background-color:rgb(204,204,204);
}
#conduct{
	display: none;

}
#conduct{
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
}
#conduct p{
	color: white;
	position: relative;
	top: 30%;
}
#container{
	display:flex;
	flex-direction:column;
	padding:0px;
	margin:0px;
}


.item{
	width: 80%;
}

.waterfall{
        -moz-column-count:1; /* Firefox */
        -webkit-column-count:1; /* Safari 和 Chrome */
        column-count:1;
		column-gap:0;
		-moz-column-gap:0;
		-webkit-column-gap:0;
		margin-left:25%;
		width:80%;
    }

    .item img{
        width: 100%;
        margin-bottom:10px;
        border: 2px solid #333;
        border-radius: 20px 20px;
        box-shadow: 3px 3px 10px #444;
    }

#inner{margin-left:4%;}

#inner *{margin-left:2%;}


#left-side{
	position: fixed;
	top: 5%;
	left: 3%;
}
#left-side ul{
	margin-left: -30%;
}
#left-side ul li{
	list-style:none;
}
#right-side{
	background: rgb(238,238,238);
	position: fixed;
	top: 1%;
	right: 6%;
	padding: 5px 10px 10px 10px;
	border: 2px solid #111;
	border-radius: 10px 10px;
}
#right-side ul{
	width: 110px; height: 400px; 
	float: left;
	list-style:none;
	padding:  0 0 0 0;
	margin: 0 0 0 0;
	overflow-x:hidden;
	overflow-y:scroll;
}

#image{
	display: none;
	width: 50%;
	height: 60%;
	border-radius: 10px 10px;
	position: absolute;
	left: 20%;
}

#video{
	
	display: none;
}
#appear_video{
	position: absolute;
	left: 210px;
	width: 50%;
}
#canvas{
	display: none;
}
#continue{
	display: none;
}
.btn{
	background: -webkit-linear-gradient(left top,rgb(255,152,0), rgb(248,139,0)); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(bottom right,rgb(255,152,0), rgb(248,139,0)); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(bottom right,rgb(255,152,0), rgb(248,139,0)); /* Firefox 3.6 - 15 */
	background: linear-gradient(bottom right,rgb(255,152,0), rgb(248,139,0)); /* 标准的语法 */
	display:block;
	z-index: 99;

	height: 80px;
	width: 80px;
	margin-top: 10px;

	font-size: 15px;
	text-align: left;
	border: 1px solid #000;
	border-radius: 10px 10px;
	box-shadow: 2px 2px 15px;
}
#del{

	position: absolute;
	top: -10%;
	left: 0%;
	height: 30px;
	width: 80px;
}
#copy{
	background: blue;
	position: absolute;
	top: -10%;
	left: 8%;
	height: 30px;
	width: 80px;
}
.icon-user-camera{
	display: block;
	position: absolute;left: 0;z-index:5;

	background-image: url('./icon/camera.png'); /*引入图片图片*/

	background-repeat: no-repeat; /*设置图片不重复*/

	background-position: 63px -5px; /*图片显示的位置*/

	width: 220px; /*设置图片显示的宽*/

	height: 20px; /*图片显示的高*/

}

.icon-user-add{
	display: block;
	position: absolute;left: 0;z-index:5;

	background-image: url('./icon/eject.png'); /*引入图片图片*/

	background-repeat: no-repeat; /*设置图片不重复*/

	background-position: 63px -5px; /*图片显示的位置*/

	width: 220px; /*设置图片显示的宽*/

	height: 50px; /*图片显示的高*/
}
.icon-user-play{
	display: block;
	position: absolute;left: 0;z-index:5;

	background-image: url('./icon/play.png'); /*引入图片图片*/

	background-repeat: no-repeat; /*设置图片不重复*/

	background-position: 63px -5px; /*图片显示的位置*/

	width: 220px; /*设置图片显示的宽*/

	height: 50px; /*图片显示的高*/
}

.thumb{
	width: 150px;
	height: 75px;
	margin-bottom: 10px;
}
.thumb img{
	
	width: 90%;
	border: 2px solid white;
	border-radius: 10px 10px;
	background: -webkit-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Firefox 3.6 - 15 */
	background: linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* 标准的语法 */
}
.pages{
	width: 135px;
	border: 1px solid black;
	border-radius: 10px 10px;
	background: -webkit-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Firefox 3.6 - 15 */
	background: linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* 标准的语法 */ 
}
#modal_set_frame .modal-content{
	height: 100px;
}
#input_num{
	margin-top: 5px;
	margin-left: 6%;
}
input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}    
input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
.fps{
	width: 80px;
	height: 40px;
	margin-top: 5px;
	margin-left: 35%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background: white;
	border-radius: 10px 10px; /*外观设置为圆形*/
}
#cancel_range_num_btn{
	width: 60px;
	height: 25px;
	margin-bottom: 2px;
}
/*帧队列*/
#queue{
	z-index: 1;
	position: fixed;
	bottom: 0px;
	width: 93%;
	height: 105px;
	overflow-y:hidden;
    overflow-x:auto;
    white-space: nowrap;
	margin-top: 15px;
	background: -webkit-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Firefox 3.6 - 15 */
	background: linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* 标准的语法 */
	border-radius: 10px 10px;
	box-shadow: 3px 3px 10px #444;
}
#queue img{
	display: inline-table;
  	vertical-align: top;
	width: 10%;
	margin-top: 3%;
	margin-left: 10px;
	border-radius: 10px 10px;
	box-shadow: 3px 3px 10px #444;
}


.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 50%;
    max-width: 700px;
    height: 40%;
    max-height: 500px;
    margin: 100px auto;
    border-radius:10px;
    background-color:#999;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
    resize: both;
    overflow: auto;
}
.modal-body .item img{
    width: 50%;
	margin-left:23%;
	margin-top:3px;
    margin-bottom:3px;
}
.modal-footer{
    box-sizing:border-box;
    display: flex;
    justify-content: center;
}
.modal-footer button{
    width: 50px;
    height: 25px;
    padding: 5px;
    margin-right: 10px;
    font-size: 5px;
    color: white;
    border-radius: 5px;
    background-color: cornflowerblue;
}
#del{
	background: red;
}
#stop_audio{
	display: none;
	background: green;
}
.messages{


}
.warper{clear: both;margin: 10px;display: block;
min-height: 32px;
}
audio{
	display: none;
}
.voiceItem{
    background-color:skyblue;
    min-width: 100px;
    min-height: 32px;
    border-radius: 3px;
    float: right;
    text-align: center;
	background-image: url('./icon/play.png'); /*引入图片图片*/

	background-repeat: no-repeat; /*设置图片不重复*/
	background-size:30px 30px;
	background-position: 67px 0px; /*图片显示的位置*/
    cursor: pointer;
    line-height: 32px;
    text-indent: 10px;
}
.modal-footer button:hover, .modal-footer button:focus{
    background-color: #95b4ed;
    cursor: pointer;
}




#my-canvas{
	display: none;


}
#after{
	display: none;
}
#fin{
	display: none;

}
@media (max-width: 768px) {
	#conduct{
		display: block;

	}
	.btn{
		background: -webkit-linear-gradient(left top,rgb(255,152,0), rgb(248,139,0)); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(bottom right,rgb(255,152,0), rgb(248,139,0)); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(bottom right,rgb(255,152,0), rgb(248,139,0)); /* Firefox 3.6 - 15 */
		background: linear-gradient(bottom right,rgb(255,152,0), rgb(248,139,0)); /* 标准的语法 */
		display:block;
		z-index: 99;

		height: 38px;
		width: 50px;
		margin-top: 6px;

		font-size: 0.5em;
		text-align: left;
		border: 1px solid #000;
		border-radius: 10px 10px;
		box-shadow: 2px 2px 15px;
	}
	#del{

		position: absolute;
		top: -10%;
		left: 0%;
		height: 30px;
		width: 50px;
	}
	#copy{
		background: blue;
		position: absolute;
		top: -10%;
		left: 8%;
		height: 30px;
		width: 50px;
	}

	.pages{
		width: 50px;
		border: 1px solid black;
		border-radius: 10px 10px;
		font-size: 0.5em;
		background: -webkit-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Firefox 3.6 - 15 */
		background: linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* 标准的语法 */ 
	}
	#appear_video{
		position: absolute;
		left: 20%;
		top: 5%;
		width: 50%;
	}
	#image{
		display: none;
		width: 50%;
		height: 65%;
		border-radius: 10px 10px;
		position: absolute;
		top: 5%;
		left: 20%;
	}

	#right-side ul{
		width: 50px; height: 400px; 
		float: left;
		list-style:none;
		padding:  0 0 0 0;
		margin: 0 0 0 0;
		overflow-x:hidden;
		overflow-y:scroll;
	}
	#left-side{
		position: fixed;
		top: -15%;
		left: 3%;
	}
	#left-side ul{
		margin-left: -30%;
	}
	#left-side ul li{
		list-style:none;
	}
#queue{
	z-index: 1;
	position: fixed;
	bottom: 0px;
	width: 93%;
	height: 75px;
	overflow-y:hidden;
    overflow-x:auto;
    white-space: nowrap;
	margin-top: 15px;
	background: -webkit-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* Firefox 3.6 - 15 */
	background: linear-gradient(rgb(231,231,231), rgb(167,167,167)); /* 标准的语法 */
	border-radius: 10px 10px;
	box-shadow: 3px 3px 10px #444;
}
#queue img{
	display: inline-table;
  	vertical-align: top;
	width: 10%;
	margin-top: 3%;
	margin-left: 10px;
	border-radius: 10px 10px;
	box-shadow: 3px 3px 10px #444;
}
 }